#the_ofise{
    
    background-image: url(plan-69159a65c5684763515973-6918972274aec233423111.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%


}
#the_ofise{
    display: grid;
    grid-template-columns: 360px 160px 440px ;
}
#part_ofic_1{
    display: grid;
    grid-template-rows: 200px 400px ;
}
#part_ofic_2{
    display: grid;
    grid-template-rows:200px 200px  200px ;
}