#zone1 {
    background-image: url('1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

#zone2 {
    background-image: url('5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

#zone3 {
    background-image: url('3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

#zone4 {
    background-image: url('4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

#zone5 {
    background-image: url('6.png');
    background-position: center;
    background-repeat: no-repeat;
      background-size: 100% 100%;
}

#zone6 {
    background-image: url('2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}